/* 탭 전체*/
.login-tabs {
    display: flex;
    align-items: center;
    background: var(--color-secondary);
    border-radius: 0.938rem;
    width: 100%;
    margin: 0 auto;
    height: 73px;
    margin-bottom: 2rem;
}

/* 개별 탭 버튼 */
.login-tab {
    flex: 1;
    border: none;
    background: transparent;
    border-radius: 0.938rem;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.70);
    cursor: pointer;
    height: 55px;
    width: 9.6rem;
    margin: 0 9px;
}

/* 탭 아이콘 */
.login-tab-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.login-tab.active {
    color: #FFF;
    background: var(--color-primary);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

@media (min-width: 768px) {
    .login-tab {
        font-size: 1rem;
    }
}