*,
*::before,
*::after {
    box-sizing: border-box;
}

.food-item {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    border-bottom: 1px solid #dedddd;
    width: 100%;

}

.food-item-header {
    display: flex;
    padding: 0 2.85rem;
    background-color: #fff;
    flex-direction: row;
    height: 45px;
    justify-content: space-between;
}

.food-item-body {
    padding: 1.25rem 2.85rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
}


.food-item-index-area {
    display: flex;
    align-items: center;
    font-weight: 500;
}

/*삭제 버튼*/
.food-item-remove {
    color: #FB2C36;
    border: none;
    background: transparent;
    cursor: pointer;
}

.field-label {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    width: 100%;
}

.field-input {
    display: flex;
    height: 44px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.875rem;
    background: #FFF;
    border: none;
    width: 100%;
    padding: 0 1rem;
    margin-top: 0.5rem;
}

.field-input:focus {
  border-color: var(--color-primary);
}


.food-photo-box {
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.875rem;
    max-height: 200px;
    height: auto;
    min-height: 80px;
    width: auto;
    margin-top: 0.5rem;
    cursor: pointer;
}


.upload-text {
    font-size: 0.875rem;
    color: var(--sub-text-color);
}

/*이미지 업로드*/
.upload-area {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 0.9rem;
}

.food-photo-preview-list {
    width: 100%;
    height: 100%;
    gap: 8px;
    overflow-x: auto;
}

.food-photo-preview-item {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
    height: auto;
    max-height: 150px;
    /* 너무 커지는 것만 제한 */
}

.food-photo-preview-img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
}

/*+, -, 등록 버튼*/
.btn-secondary,
.btn-primary,
.qty-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.875rem;
    border: none;
    background: var(--color-primary);
    height: 50px;
    width: 50%;
    font-size: 0.875rem;
    color: #FFF;
    cursor: pointer;
}

/*수량의 -, + 버튼*/
.quantity-box {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.qty-btn {
    width: 60px;
    height: 50px;
    border-radius: 1rem;
    font-size: 1.7rem;
    font-weight: 400;
}

/*수량 -, +가운데 값*/
.qty-value {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 50px;
    border-radius: 0.875rem;
}

/*등록 추가 버튼*/
.btn-secondary {
    border: 0.821px solid var(--color-primary);
    background: #FFF;
    color: var(--color-primary);
}