/*-----------reservationList.jsx---------------*/
/*리스트 전체*/
.store-reservation-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

/*오늘, 내일, 날짜*/
.store-date-label {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.1rem;
}

/*--sub-text-color*/
.store-reservation-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0;
    border-bottom: 1px solid #E6EAF2;
    background-color: #ffffff;
    font-size: 0.875rem;
    color: var(--text-sub, #717182);
    width: 100%;
}

/*-----------reservation_row.jsx---------------*/

.store-reservation-item {
    flex: 1;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center
}

.break-text {
    word-break: break-all;
    width: 100%;
    text-align: center;
}

.store-reservation-row img {
    width: 0.825rem;
    align-items: flex-end;
    height: auto;
}

.store-reservation-row button {
    display: flex;
    width: 6rem;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    font-size: 0.85rem;
    border-radius: 0.875rem;
    font-weight: 400;
    background: var(--color-primary);
    border: none;
    color: #ffffff;
}

.status-pending button{
    cursor:pointer;
}

.status-done button {
    border: 0.821px solid rgba(201, 127, 0, 0.20);
    background: rgba(201, 111, 0, 0.10);
    color: var(--color-primary);
}