.home-container {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1.25rem;
    max-width: 1000px;
    min-width: 393px;
    margin: 0 auto;
      overflow-y: auto;
    overflow-x: hidden;
}

.home-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.header-logo {
    height: 54px;
    width: auto;
    margin-bottom: 1rem;
}

.header-logo img {
    height: 100%;
}

.home-content {
    flex: 1;
    width: 100%;
    padding-bottom: 20px;
}


/*테이블 헤더*/
.store-table-header {
    display: flex;
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: 1.375rem;
    padding: 0.5rem 0.6rem;
    font-size: 0.875rem;
    color: #717182;
    font-weight: 400;
}

.col {
    width: 25%;
    text-align: center;
}