.food-register {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100%;
    box-sizing: border-box;
    padding-top: 1.25rem;
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: none;
    min-width: 500px;
}

.food-register-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d6d1d1;
}

.store-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    color: #523316;
}

.store-address {
    margin: 0;
    color: var(--sub-text-color);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

.food-items-scroll {
    width: 100%;
    display: flex;
}

.food-item,
.food-item-header {
    width: 100%;
    align-items: center;
}

.food-register-footer {
    display: flex;
    justify-content: space-between;
    gap: 1.625rem;
    width: 100%;
    padding: 1.25rem;
}