/* src/components/PostCard/PostCard.module.css */

.postCard {
  display: flex;
  flex-direction: column;
}

.postCard:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    cursor:pointer
}

.imageWrap {
  position: relative;
}

.foodImg {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 14px;
}

/* 예약 버튼 */
.reserveBtn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 6px 20px;
  background: var(--color-primary);
  border-radius: 14px;
  border: none;
  color: #fff;
  font-size: 0.8rem;
  white-space: nowrap;
  transition: transform 0.1s ease;
}

.reserveBtnDone {
  background: #f1e7df;
  color: #c67c4e;
  border: 1px solid #c67c4e;
}

.reserveBtn:active {
  transform: scale(0.95);
}

.infoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 3px;
  margin: 0.3rem 0;
}

.foodName {
  font-size: 1.3rem;
  color: var(--color-primary-dark);
  flex: 1;
}

.quantityIcon {
  width: auto;
  height: 1.2rem;
}

.quantity {
  font-size: 1.1rem;
  color: #717182;
  margin: 0 4px;
  padding-bottom: 4px;
}

.deadline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.deadlineIcon {
  width: auto;
  height: 1.2rem;
}

.dday {
  font-size: 1.1rem;
  color: var(--color-primary);
  margin-left: 4px;
  padding-bottom: 4px;
}

.ddayUrgent {
  font-weight: 600;
}

.address {
  font-size: 0.8rem;
  color: var(--color-light-gray);
}
