/* src/components/PostCard/PostCard.css */

.post-card {
  display: flex;
  flex-direction: column;
}

.image-wrap {
  position: relative;
}

.food-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 14px;
}

/* 예약 버튼 */
.reserve-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 6px 20px;
  background: var(--color-primary);
  border-radius: 14px;
  border: none;
  color: #fff;
  font-size: 0.8rem;
  white-space: nowrap;
  transition: transform 0.1s ease;
}

.reserve-btn.done {
  background: #f1e7df;
  color: #c67c4e;
  border: 1px solid #c67c4e;
}

.reserve-btn:active {
  transform: scale(0.95);
}

.infoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 3px;
  margin: 0.3rem 0;
}

.foodName {
  font-size: 1.3rem;
  color: #523316;
  flex: 1;
}

.quantityIcon {
  width: auto;
  height: 1.2rem;
}

.quantity {
  font-size: 1.1rem;
  color: #717182;
  margin: 0 4px;
  padding-bottom: 4px;
}

.deadline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.deadlineIcon {
  width: auto;
  height: 1.2rem;
}

.dday {
  font-size: 1.1rem;
  color: var(--color-primary);
  margin-left: 4px;
  padding-bottom: 4px;
}

.dday.urgent {
  font-weight: 600;
}

.address {
  font-size: 0.8rem;
  color: #99a1af;
}
