/* 전체 컨테이너 */
.landing-container {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem 1.5rem 2rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

/* 로고 섹션 */
.landing-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    margin-top: 4rem;
}

.landing-logo-image {
    width: 9rem;
    height: auto;
}

.landing-logo-name {
    width: 9rem;
    height: auto;
}

/* 배너 */
.landing-banner {
    margin-top: 0.5rem;
}

.banner-img {
    width: 100%;
    border-radius: 12px;
    display: block;
}

/* CTA */
.landing-cta {
    text-align: center;
    margin-top: 5rem;
}

.landing-question {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.landing-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 1rem;
}

.cta-button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 1rem;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.cta-button img {
    display: block;
    width: 13rem;
    height: 105%;;
    border-radius: 1rem;
}

.cta-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.cta-button:active {
    transform: scale(0.96);
}

/* 통계 */
.landing-stats {
    margin-top: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stat-card {
    flex: 1;
    min-width: 30%;
    height: 70px;
    background: #ffffff;
    border-radius: 14px;
    border: 0.821px solid var(--color-primary);
    padding: 0.7rem 0.5rem;
    font-size: 0.9rem;
    line-height: 1.3;
    text-align: center;
    color: #4b5563;
}

.stat-card .small-text {
    display: block;
    color: var(--sub-text-color);
    font-size: 0.75rem;
}

@media (min-width: 1024px) {
    .landing-container {
        padding: 3rem 4rem 2.5rem;
    }
}